{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <div class="form-card">

        <h2>📢 Add Advertisement</h2>

        <form method="POST"
              enctype="multipart/form-data">

            <div class="mb-3">

                <label>Business Name</label>

                <input type="text"
                       name="business_name"
                       class="form-control"
                       required>

            </div>

            <div class="mb-3">

                <label>Mobile</label>

                <input type="text"
                       name="mobile"
                       class="form-control">

            </div>

            <div class="mb-3">

                <label>City</label>

                <input type="text"
                       name="city"
                       class="form-control">

            </div>

                            <div class="mb-3">

                    <label>

                    Media Type

                    </label>

                    <select
                    name="media_type"
                    class="form-control">

                    <option value="image">

                    Image

                    </option>

                    <option value="video">

                    Video

                    </option>

                    </select>

                    </div>
                        <div class="mb-3">

                        <label>

                        Upload Image / Video

                        </label>

                        <input
                        type="file"
                        name="media_file"
                        class="form-control"
                        required>

                        </div>
                        <div class="mb-3">

                        <label>

                        Advertisement Link

                        </label>

                        <input
                        type="text"
                        name="ad_link"
                        class="form-control"
                        placeholder="https://example.com">

                        </div>

            <button class="submit-btn">
                Submit Advertisement
            </button>

        </form>

    </div>

</div>

{% endblock %}